<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>

  <!-- NINJA ANALYZE -->
  <script type="text/javascript">
  //<![CDATA[
  (function(d) {
    var sc=d.createElement("script"),
        ins=d.getElementsByTagName("script")[0];
    sc.type="text/javascript";
    sc.src=("https:"==d.location.protocol?"https://":"http://") + "code.analysis.shinobi.jp" + "/ninja_ar/NewScript?id=00257197&hash=b71e4d5e&zone=36";
    sc.async=true;
    ins.parentNode.insertBefore(sc, ins);
  })(document);
  //]]>
  </script>
  <!-- /NINJA ANALYZE -->
</body>
</html>
